.hero-section {
  background: linear-gradient(135deg, #2f56c0, #1d3f9f);
}

.hero-section .card {
  border-radius: 15px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.card:hover {
  border-color: var(--bs-primary) !important;
}
.card {
  border: 0.3px solid transparent !important;
  transition: border-color 0.3s ease;
}
.navbar-brand {
  color: #36454f;
}
.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}
